<h1>Listing Subjects</h1>

<table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Term</th>
    </tr>
    <% @subjects.each do |subject| %>
      <tr>
          <td><%=subject.subject_id%></td>
          <td><%=subject.name%></td>
          <td><%=subject.abbreviation%></td>
          <td><%=subject.term%></td>

      </tr>
    <% end %>
</table>
