<h1>Listing Courses</h1>

<table class="table table-bordered" style="border-spacing: 15px;">
    <tr>
      <th>Course Code</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @courses.each do |course| %>
      <tr style="text-align: center">
          <td><%=course.code%></td>
          <td><%=course.name%></td>
          <td><%=course.description%></td>
      </tr>
    <% end %>
</table>
