<h1>Listing Courses</h1>

<table class="table table-bordered">
    <tr>
      <th>Course Code</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @courses.each do |course| %>
      <tr>
          <td><%=course.code%></td>
          <td><%=course.name%></td>
          <td><%=course.description%></td>
      </tr>
    <% end %>
</table>
